.find{
    margin-top: 71px;
    /* height: 246.8px; */
    width: 100%;
    background-color: rgb(58, 8, 8);
    color: white;
    text-align: center;
    padding: 48px 16px;
}
.find p{
    font-size: 18px;
}
.select, .find input{
    font-size: 25px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.info-container{
    height: 1000px;
    padding-left: 166.4px;
    padding-right: 166.4px;
}
.info{
    text-align: center;
    height: 180px;
    background-color: rgb(235, 229, 229);
}
.info h2{
    color: rgb(58, 8, 8); 
}
.info .subject{
    color: rgb(0, 181, 241);
    font-size: 20px;
    cursor: pointer;
}
.info .scheduling-container{
    margin-top: 24px;
    padding-top: 12px;
    border-top-style: dotted;
    border-width: 1px;
}
.scheduling{
    font-size: 18px;
    color: rgb(58, 8, 8);
}
.scheduling-container .time{
    color: rgb(0, 181, 241);
    font-size: 20px;
    cursor: pointer;
}
.order-container{
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.order, .number{
    height: 50px;
    width: 50px;
    color: rgb(58, 8, 8); 
    border-color: rgb(58, 8, 8);
    cursor: pointer;
}
.order:active{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}
.number:hover{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}