@import url('https://fonts.googleapis.com/css2?family=Anton&family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header{
    background-color: white;
    z-index: 100;
    height: 70px;
    top: 0px; 
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-size: 18px; 
}
.left, .middle, .right{
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    color: white;
}
.general, .contact ,.treatment, .patient, .medicine, .device{
    color: rgb(58, 8, 8);
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: white;
}
.general:hover, .contact:hover, .introduce:hover ,.treatment:hover, .patient:hover, .medicine:hover, .device:hover{
    text-decoration: underline;
}

.left{
    color: rgb(58, 8, 8);
    font-size: 30px;
    font-family: "Tapestry", serif;
    padding-left: 100px;
    cursor: pointer;
}
.middle{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right:100px;
}
.right{
    width: 200px;
}
.login{
    color: rgb(58, 8, 8);
    height: 30px;
    width: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.end-of-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modern, .qualification, .heart, .phone{
    width: 100%;
    background-color: white;
    height: 190px;
}
.modern i, .qualification i, .heart i, .phone i{
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adver{
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    text-align: center;
    font-size: 25px;
    color: rgb(58, 8, 8);
    font-weight: 600;
}
.adver-detail{
    text-align: center;
    font-size: 15px;
    color: rgb(58, 8, 8);
    width: 350px;
}
.phone .adver:hover{
    cursor: pointer;
    text-decoration: underline;
}
.phone i:hover{
    cursor: pointer;
}