@import url('https://fonts.googleapis.com/css2?family=Anton&family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.body-of-page{
    color: rgb(58, 8, 8);
    margin-top:69px;
    height: 600px;
    width: 100%;
    background: url(imagine/hi.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.hello{
    background: transparent;
    width: 430px;
    margin-left: -140px;
    display: block;
    font-size: 38px;
    color: rgb(58, 8, 8);
    font-weight: 600;
}
.ima-container{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ima-container input{
    font-size: 20px;
    padding-left: 20px;
}
.search-bar{
    width: 500px;
    height: 60px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    /* width: 0; */
}
.search-bar::placeholder{
    padding-bottom: 1px;
    font-size: 20px;
}
.search-button{
    color: white;
    height: 60px;
    width: 60px;
    background-color: rgb(58, 8, 8);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(58, 8, 8);
    margin-left: -10;
    margin-right: 10px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon{
    height: 40%;
    width: 60%px;
    cursor: pointer;
}
.infor{
    font-weight: 600;
    background: transparent;
    backdrop-filter: blur(10px);
}
.begin{
    margin-top: -3px;
    width: 1000px;
    font-size: 20px;
}
.colab{
    display: inline-block;
    margin-top: 20px;
    width: 1000px;
    font-size: 17px;
}