.find{
    margin-top: 71px;
    /* height: 246.8px; */
    width: 100%;
    background-color: rgb(58, 8, 8);
    color: white;
    text-align: center;
    padding: 48px 16px;
}
.find input{
    font-size: 25px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.patient-info-container{
    padding-left: 100px;
    margin-top: 70px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:550px 1fr;
    background-color: rgb(241, 233, 233);
}
.patient-info{
    height: 350px;
    width: 350px; 
}
.order-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.order, .number{
    height: 50px;
    width: 50px;
    color: rgb(58, 8, 8); 
    border-color: rgb(58, 8, 8);
    cursor: pointer;
}
.order:active{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}
.number:hover{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}